
body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;;
    /* align-items: center; */
}

.logo{
    font-size: 24px;
}
.logo, .hero-text{
    color: #F9FAF8;
}
.header, .hero-section,.hero-all, ul, .block-two, .illustration-container, .footer{
    display:flex;
}
.header, .hero-section{
    padding:5px;
    align-items: center;
    /* width:500px; */
}
ul{
    margin-left:auto;
    gap:15px;
}
.hero-text-all{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 800px;
}
.hero-section{
    height:300px;
}
.hero-image{
    margin-left:auto;
}
.block-one, .block-two, .customer-testimonial, .footer{
    /* border:2px solid red; */
    margin:auto;
}
.block-one, .block-two, .footer {
    width:1000px;

}
.block-two, .customer-testimonial{
    width:800px;
}
.section-one{
    /* border:2px solid red; */
    background-color: #1F2937;
}
.section-three{
    /* border:2px solid red; */
    background-color: #E5E7EB;
}
.hero-text{
    font-size: 48px;
    font-weight: 900;
}
.hero-subtext, li{
    font-size: 18px;
    color:#E5E7EB;
}
.block-two h2{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.customer-testimonial{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
}
#customer{
    display: flex;
    justify-content: flex-end;
}
.block-two{
    flex-direction: column;
    align-items: center;
}

.footer{
    /* width:500px; */
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    margin-top:50px;
    margin-bottom:50px
}

li{
    list-style-type: None;
}
button{
    background-color:#3882F6;
}

